<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<dubbo:application name="jiuheng-recovery-manager"/>
	<dubbo:registry id="clientZk" protocol="zookeeper" address="${dubbo.zookeeper.client}"/>

	<!-- 订单服务 -->
	<dubbo:reference id="dubboOrderService" interface="com.jiuheng.order.dubbo.DubboOrderService"
		registry="clientZk" version="${dubbo.version.client}" check="true" retries="3"/>
	<!-- 菜单服务 -->
	<dubbo:reference id="dubboMenuService" interface="com.jiuheng.order.dubbo.DubboMenuService"
		registry="clientZk" version="${dubbo.version.client}" check="true" retries="3"/>
	<dubbo:reference id="dubboBrandService" interface="com.jiuheng.order.dubbo.DubboBrandService"
		registry="clientZk" version="${dubbo.version.client}" check="true" retries="3"/>
	<dubbo:reference id="dubboCategoryService" interface="com.jiuheng.order.dubbo.DubboCategoryService"
		registry="clientZk" version="${dubbo.version.client}" check="true" retries="3"/>
</beans>