<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiuheng.order.repository.BranchMapper">
  <resultMap id="BaseResultMap" type="com.jiuheng.order.domain.BrandResp">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="fid" jdbcType="INTEGER" property="fid"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="pic" jdbcType="VARCHAR" property="pic"/>
    <result column="sort" jdbcType="INTEGER" property="sort"/>
    <result column="status" jdbcType="INTEGER" property="status"/>
    <result column="createTime" jdbcType="VARCHAR" property="create_time"/>
    <result column="updateTime" jdbcType="VARCHAR" property="update_time"/>
    <result column="updator" jdbcType="VARCHAR" property="updator"/>
    <collection property="categories" resultMap="RMBrandCategory" foreignColumn="brand_id"/>
  </resultMap>
  <resultMap id="RMBrandCategory" type="com.jiuheng.order.domain.BrandCategory">
    <result column="brand_id" property="brandId"/>
    <result column="category_id" property="categoryId"/>
    <result column="brand_name" property="brandName"/>
    <result column="category_Name" property="categoryName"/>
  </resultMap>
  <sql id="Base_Column_List">
    b.id,b.fid,b.name,b.pic,b.status,b.sort,b.create_time,b.update_time,b.updator,b.id as brand_id,b.name as brand_name,d.id as category_id,d.name as category_Name
  </sql>
  <sql id="query_params">
    status != - 1
    <if test="brandReq.id != null">
      AND id=#{brandReq.id}
    </if>
    <if test="brandReq.name != null and brandReq.name != ''">
      AND name=#{brandReq.name}
    </if>
    <if test="brandReq.status != null">
      AND status=#{brandReq.status}
    </if>
    ORDER BY id,sort
  </sql>
  <select id="getAllBranch" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List"/>
    FROM
      (
        SELECT
          *
        FROM
          recovery_brand
        <where>
          <include refid="query_params"/>
        </where>
        <if test="start >= 0 and row > 0">
          limit #{start}, #{row}
        </if>
      ) b,
      recovery_brand_category c,
      recovery_category d
    WHERE
      b.id = c.brand_id
    AND c.category_id = d.id
  </select>
  <select id="getBrandById" parameterType="com.jiuheng.order.domain.BrandReq" resultType="com.jiuheng.order.domain.Brand">
    SELECT
      *
    FROM
      recovery_brand
    WHERE
      id = #{brandReq.id}
  </select>
  <update id="updateBrand" parameterType="com.jiuheng.order.domain.BrandReq">
    UPDATE recovery_brand
    <set>
      <if test="brand.name != null and brand.name != ''">name = #{brand.name },</if>
      <if test="brand.status != null">status = #{brand.status },</if>
    </set>
    WHERE id = #{brand.id}
  </update>
  <delete id="deleteBrandCategory" parameterType="com.jiuheng.order.domain.BrandCategory">
    DELETE FROM recovery_brand_category
    WHERE brand_id = #{brandCategory.brandId}
    <if test="brandCategory.categoryId != null">
      AND category_id = #{brandCategory.categoryId}
    </if>
  </delete>
  <insert id="insertBrandCategory" parameterType="com.jiuheng.order.domain.BrandCategory">
    INSERT INTO recovery_brand_category (brand_id, category_id)
    VALUES (#{brandCategory.brandId}, #{brandCategory.categoryId})
  </insert>
</mapper>