@charset "utf-8";

/* Core Code */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { padding:0; margin:0; font-size:12px; line-height:100%; font-family:Arial, sans-serif;}

.textbox { height:20px; margin:0; padding:0 2px; box-sizing:content-box; }

.line { width:100%; border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#D4D4D4; }

/********************************* 页面布局样式 *************************************/
/*顶部Header*/
#header {
	background:#B3DFDA;
	padding:0px;
}
/*左侧菜单*/
#west {
	width:150px;
	padding:10px;
}
/*右侧内容显示区*/
#center {
	padding:10px;
}
/*底部Footer*/

#footer {text-align:center; height:20px; padding:5px 0px 2px 0px;background:#F2F2F2;}

#header .logo { float:left; width:250px; height:50px; text-indent:-1000px; background: url(../images/logo.png) no-repeat;}
#header .nav { list-style-type:none; display:block; height:21px; position:absolute; top:12px; right:10px; z-index:31;}
#header .nav li { float:left; margin-left:-1px; padding:0 10px; line-height:14px; position:relative;background:url(../images/listLine.png) no-repeat;}
#header .nav li a { line-height:14px; color: #b9ccda; text-decoration: none; font-size: 12px; font-family: Arial, sans-serif;}
#header .nav ul { display:none; width:230px; border:solid 1px #06223e; overflow:hidden; background:#FFF; position:absolute; top:20px; right:0;}
#header .nav ul li { margin-top:10px; height:21px;}
#header .nav ul li a { color:#000;}
#header .nav .selected ul {display:block;}

div.content { width:100%; height:100% }
/********************************** DataGrid工具条 ************************************************/

#listPanel #listPanel1 { width:100% }
.datatable { width:100% }
.table-header { padding:2px 5px; }
.table-header > .search table { padding:5px; cellspacing:5px; cellpadding:5px }
.table-header > .toolbar { padding:5px; border-top-color: #D4D4D4; border-top-width: 1px; border-top-style: solid; margin:5px 0px 0px 0px }
.search td.label { line-height:14px; text-align:right; width:80px }
.search td.content { width:150px }

/********************************** 部门下拉ComboBox ************************************************/
.dept-combobox { width: 167px; height: 20px; }
.dept-combobox span { right: 0px; }
.dept-combobox span a { width: 18px; height: 20px; }



.form-checkbox {
margin: 0;
padding: 0;
width: 15px;
height: 18px;
}

.textbox-text::-ms-clear{display:none;}
.validatebox-text::-ms-clear{display:none;}