<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiuheng.service.repository.MenuMapper">
  <resultMap id="BaseResultMap" type="com.jiuheng.service.domain.Menu">
    <id column="id" jdbcType="VARCHAR" property="id"/>
    <result column="pId" jdbcType="VARCHAR" property="pId"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="lnkUrl" jdbcType="VARCHAR" property="lnkUrl"/>
    <result column="icon" jdbcType="VARCHAR" property="icon"/>
  </resultMap>

  <select id="queryMenu" resultMap="BaseResultMap" parameterType="int">
    SELECT
      m.*
    FROM
      backer_user_power b
    LEFT JOIN menu m ON b.menuId = m.id
    AND b.userId = #{userId};
  </select>
  <select id="queryModel" resultMap="BaseResultMap">
  SELECT
    id,
    name
  FROM
    menu
  WHERE
    pid = 0;
  </select>
  <select id="queryFunctionByFatherId" resultMap="BaseResultMap" parameterType="String">
    SELECT
      id,
      name
    FROM
      menu
    WHERE
      pid = #{modelid};
  </select>
  <select id="queryAllMenu" resultMap="BaseResultMap">
    SELECT
      id,
      name
    FROM
      menu;
  </select>
</mapper>