<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiuheng.service.repository.PowerMapper">
  <resultMap id="BaseResultMap" type="com.jiuheng.service.domain.UserPower">
    <id column="userId" property="userId" />
    <result column="account" property="account" />
    <result column="menuId" property="menuId" />
    <result column="menuName" property="menuName" />
    <result column="createTime" property="createTime" />
    <result column="createUser" property="createUser" />
  </resultMap>
  <resultMap id="UserAccountResultMap" type="com.jiuheng.service.domain.UserAccount">
    <id column="userId" property="userId" />
    <result column="account" property="account" />
    <result column="password" property="password" />
    <result column="userName" property="userName" />
    <result column="createTime" property="createTime" />
    <result column="status" property="status" />
    <result column="createUser" property="createUser" />
    <result column="createUserName" property="createUserName" />
  </resultMap>
  <select id="getPowers" parameterType="int" resultMap="BaseResultMap">
    SELECT
      power.userId as userId,
      account.account AS account,
      power.menuId AS menuId,
      menu.name as menuName,
      power.createTime,
      newaccount.account AS createUser
    FROM
      backer_user_power power
    LEFT JOIN backer_user_account account ON power.userId = account.userId
    LEFT JOIN backer_user_account newaccount ON power.createUser = newaccount.userId
    LEFT JOIN menu menu ON power.menuId = menu.id
    WHERE
      power.userId = #{userId}
    ORDER BY menuId
  </select>
  <select id="getUserAccount" resultMap="UserAccountResultMap">
    SELECT
      accounta.userId,
      accounta.account,
      accounta.password,
      accounta.userName,
      accounta.createTime,
      accounta.status,
      accounta.createUser,
      accountb.userName AS createUserName
    FROM
      backer_user_account accounta,
      backer_user_account accountb
    WHERE
      1=1
    <if test="account != null and account != ''">
      and accounta.account= #{account}
    </if>
    <if test="status != null and status != '' and status != -2">
      and accounta.status= #{status}
    </if>
    AND
      accounta.createUser = accountb.userId
  </select>
  <select id="getUserAccountByUserId" parameterType="int" resultMap="UserAccountResultMap">
    SELECT
      userId,
      account,
      password,
      userName,
      createTime
    FROM
      backer_user_account
    WHERE
      userId = #{userId}
  </select>
  <update id="updatePassword" parameterType="com.jiuheng.service.domain.PasswordReq">
    UPDATE backer_user_account
    SET password = #{passwordReq.password},
     createUser = #{passwordReq.updateUserId},
     createTime = NOW()
    WHERE
      userId = #{passwordReq.userId}
  </update>
  <update id="editUserStatus" parameterType="com.jiuheng.service.domain.UserAccount">
    UPDATE backer_user_account
    SET status = #{account.status},
     createTime = NOW(),
     createUser = #{account.createUser}
    WHERE
      userId = #{account.userId}
  </update>
  <delete id="delFatherPower" parameterType="map">
    DELETE
    FROM
      backer_user_power
    WHERE
      userId = #{userId}
    AND (
      menuId = #{menuId}
      OR menuId IN (SELECT id FROM menu WHERE pId = #{menuId})
    );
  </delete>
  <delete id="delPower" parameterType="map">
    DELETE
    FROM
    backer_user_power
    WHERE
    userId = #{userId}
    AND
    menuId = #{menuId}
  </delete>
  <select id="queryPowerById" parameterType="map" resultMap="BaseResultMap">
    SELECT
      userId,
      menuId
    FROM
      backer_user_power
    WHERE
      userId = #{userId}
    AND
      menuId=#{id}
  </select>
  <insert id="addPower" parameterType="map">
    INSERT INTO backer_user_power
    VALUES
      (
        #{userId},
        #{id},
        NOW(),
        #{createUserId}
      )
  </insert>
  <select id="queryUserByAccount" parameterType="String" resultMap="UserAccountResultMap">
    SELECT
      userId,
      account,
      password,
      userName,
      createTime
    FROM
      backer_user_account
    WHERE
      account = #{account}
  </select>
  <insert id="addAccount" parameterType="map">
    INSERT INTO backer_user_account (
      account,
      password,
      userName,
      createTime,
      createUser
    )
    VALUES
      (#{account},
       #{password},
       #{name},
       now(),
       #{createUser});
  </insert>
</mapper>