<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiuheng.service.repository.RecoveryOrderMapper">
  <resultMap id="BaseResultMap" type="com.jiuheng.service.domain.RecoveryOrderResp">
    <id column="orderId" jdbcType="VARCHAR" property="orderId"/>
    <result column="orderType" jdbcType="INTEGER" property="orderType"/>
    <result column="status" jdbcType="INTEGER" property="status"/>
    <result column="recoveryType" jdbcType="INTEGER" property="recoveryType"/>
    <result column="userName" jdbcType="VARCHAR" property="userName"/>
    <result column="userPhone" jdbcType="BIGINT" property="userPhone"/>
    <result column="userAdd" jdbcType="VARCHAR" property="userAdd"/>
    <result column="goodsName" jdbcType="VARCHAR" property="goodsName"/>
    <result column="valuationPrice" jdbcType="INTEGER" property="valuationPrice"/>
    <result column="dealPrice" jdbcType="INTEGER" property="dealPrice"/>
    <result column="freightPrice" jdbcType="INTEGER" property="freightPrice"/>
    <result column="payType" jdbcType="INTEGER" property="payType"/>
    <result column="onDoorTime" jdbcType="VARCHAR" property="onDoorTime"/>
    <result column="subTime" jdbcType="VARCHAR" property="subTime"/>
    <result column="payTime" jdbcType="VARCHAR" property="payTime"/>
    <result column="message" jdbcType="VARCHAR" property="message"/>
  </resultMap>
  <sql id="Base_Column_List">
    o.orderId,o.orderType,o.status,o.recoveryType,a.userName,a.userPhone,CONCAT(a.provinceName,a.cityName,a.countryName,a.addr) as userAdd,
	  g.goodsName,o.valuationPrice,o.dealPrice,o.freightPrice,o.payType,o.onDoorTime,o.subTime,o.payTime,o.message
  </sql>
  <select id="getOrderList" parameterType="com.jiuheng.service.domain.RecoveryOrderReq" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
      recovery_order o
    LEFT JOIN recovery_goods g ON o.skuId = g.skuId
    LEFT JOIN user_addr a ON o.addrId = a.addrId
  </select>
</mapper>