<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiuheng.service.repository.RecoveryTmpOrderMapper">
  <resultMap id="BaseResultMap" type="com.jiuheng.service.dto.TemplateOrder">
    <id column="orderId" property="orderId"/>
    <result column="userId" property="userId"/>
    <result column="orderDetail" property="orderDetail"/>
    <result property="createTime" column="create_time"/>
  </resultMap>
  <insert id="saveTemplateOrder" parameterType="com.jiuheng.service.dto.TemplateOrder">
  INSERT INTO recovery_tmp_order(
    orderId,
    orderDetail,
    userId,
    createTime
  )
  VALUES
    (
      #{tmpOrder.orderId},
      #{tmpOrder.orderDetail},
      #{tmpOrder.userId},
      NOW()
    );
  </insert>
  <select id="getTemplateOrder" parameterType="long" resultMap="BaseResultMap">
  SELECT
    orderId,
    orderDetail,
    userId,
    createTime
  FROM
    recovery_tmp_order
  WHERE
    userId = #{userId}
  AND STATUS = 1
  </select>
  <select id="getTemplateOrderId" parameterType="String" resultMap="BaseResultMap">
    SELECT
      orderId,
      orderDetail,
      userId,
      createTime
    FROM
      recovery_tmp_order
    WHERE
      orderId = #{orderId}
    AND STATUS = 1
  </select>
  <select id="getTemplateOrderIds" parameterType="String" resultMap="BaseResultMap">
    SELECT
    orderId,
    orderDetail,
    userId,
    createTime
    FROM
    recovery_tmp_order
    WHERE
    orderId = #{orderId}
  </select>
  <update id="updateTemplateOrder" parameterType="String">
  UPDATE recovery_tmp_order
  SET STATUS = 0
  WHERE
    orderId = #{orderId}
  </update>
</mapper>